############################
### SECRETS CONFIGURATION ##
############################
# Required
# Use https://1password.com/password-generator/ for generating strong passwords
APP_KEY=""

############################
### OAUTH CONFIGURATION ####
############################
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

############################
###### SITE CONFIG #########
############################
# the canonical URL of the
# Required
NEXTAUTH_URL=http://localhost:3000/


############################
### Email CONFIGURATION ####
############################
# If you want to use a different email provider other than outlook, you need to provide these manually.
# Or you can go use these well known services and their settings at
# https://github.com/nodemailer/nodemailer/blob/master/lib/well-known/services.json
# Required
NEXT_PUBLIC_SENDER_EMAIL_PASSWORD=pass*********

############################
## DATABASE CONFIGURATION ##
############################
# Note: Add your connection string to your database 
# follow the documentation when you are using anthor databases https://www.prisma.io/docs/orm/overview/databases
# mongodb : mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DATABASE?retryWrites=true&w=majority" 
# Required
DATABASE_URL=""